*.o
.gitignore
.deps
.dirstamp
stamp-h1
autom4te.cache
config.log
config.status
emmcdl
Makefile
compile
COPYING
INSTALL
Makefile.in
aclocal.m4
autoscan.log
bin
config.h
/configure
/depcomp
/install-sh
/missing
